export POSTGRES_USER=""
export POSTGRES_PASSWORD=""
export POSTGRES_HOST=""
export POSTGRES_PORT="5432"
export POSTGRES_DB=""
export POSTGRES_SSLMODE=""
export DATABASE_SCHEMA=""
export PORT="5000"
export VERSION=""
export ENVIRONMENT="dev"
export OTLP_BASE_URL="http://localhost:4318"
export PYROSCOPE_ENDPOINT="http://localhost:4040"
export TRACE_SAMPLE_RATE="1.0"
export JWT_ACCESS_SIGNING_KEY=""
export JWT_REFRESH_SIGNING_KEY=""
export PWNED_API_URL="https://api.pwnedpasswords.com/range/"
export SMTP_CLIENT="smtp.google.com"
export SENDER_EMAIL_ADDRESS=""
export SMTP_USERNAME=""
export SMTP_PASSWORD=""
export SMTP_PORT="547"
export HMAC_HASH_SECRET=""
export CORS_ALLOWED_ORIGINS="http://localhost:5000"
export REDIS_URL="redis://localhost:6379"
export SERVICE_BASE_URL=""
